<html>
<title>Antidoot</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Projects made by CipX" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap" rel="stylesheet">
<link rel="icon" href="https://cdn.discordapp.com/icons/630773136689725440/8386e82f24b8c4c647f637edf7040c7a.png"
    type="image/gif" sizes="16x16" />

<body id="lmao">
    <script type="text/javascript">
        var timerStart = performance.now();
        window.addEventListener("load", function () {
            var loader = document.querySelector(".loader");
            loader.className += " hidden";
        });
    </script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        body {
            height: 100%;
            overflow: hidden;
            color: white;
        }

        .large-header {
            position: relative;
            width: 100%;
            background: #111;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
            z-index: -1;
        }

        /* .demo .large-header {
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/257418/andy-holmes-698828-unsplash.jpg");
} */

        .main-title {
            position: absolute;
            margin: 0;
            padding: 0;
            color: #F9F1E9;
            text-align: center;
            top: 30%;
            left: 50%;
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
        }

        .main-desc {
            position: absolute;
            margin: 0;
            padding: 0;
            color: #F9F1E9;
            top: 50%;
            left: 50%;
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
        }

        .demo .main-title {
            text-transform: uppercase;
            font-size: 4.2em;
            letter-spacing: 0.1em;
        }

        .main-title .thin {
            font-weight: 200;
        }

        .homebtn {
            margin-left: 40px
        }

        @media only screen and (max-width: 768px) {
            .homebtn {
                margin-left: -1px
            }

            .demo .main-title {
                font-size: 3em;
            }

            .main-title {
                position: absolute;
                margin: 0;
                padding: 0;
                color: #F9F1E9;
                text-align: center;
                top: 20%;
                left: 50%;
                -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0);
            }

            .main-desc {
                position: absolute;
                margin: 0;
                padding: 0;
                color: #F9F1E9;
                top: 65%;
                left: 50%;
                -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0);
            }
        }

        .loader {
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loader>img {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .loader.hidden {
            animation: fadeOut 1s;
            animation-fill-mode: forwards;
        }

        @keyframes fadeOut {
            100% {
                opacity: 0;
                visibility: hidden;
            }
        }

        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.70);
            z-index: 2;
        }

        body {

            color: black;
        }

        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            background: rgb(255, 255, 255);
            width: 100%;
            color: white;
            text-align: center;
        }

        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .kek img {
            float: left;
            width: 38px;
            height: 38px;
            background-color: rgba(8, 22, 146, 0.1)
        }

        .kek a {
            position: relative;
        }
    </style>



    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <!----------------------   TOP NAV   -------------------------->


    <div class="w3-mobile w3-bar" style="z-index:1000000;color:white; background: rgb(8, 22, 146);
background: linear-gradient(94deg, rgba(39, 55, 201, 0.9) 50%, rgb(126, 52, 160) 70%);">
        <div class="kek">
            <img id="logoo"
                src="https://cdn.discordapp.com/icons/630773136689725440/8386e82f24b8c4c647f637edf7040c7a.png">
            <a style="background-color: rgba(8, 22, 146,0.1)" class="w3-bar-item"><b>Antidoot</b></a>
        </div>
        <div style="float: right;">
            <a href="#" class="homebtn w3-bar-item w3-button">Home</a>
            <!-- <a href="https://shoppy.gg/@CipRos/groups/PGlVJMH" class="w3-bar-item w3-button">Shop</a> -->
            <div class="w3-dropdown-hover">
                <button id="events" class="w3-button">Events</button>
                <div id="evDiv" class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/events/launch" style="color: white; background: rgb(8, 22, 146);
background: linear-gradient(94deg, rgba(8, 22, 146,0.7091211484593838) 0%, rgba(0,0,0,1) 100%);"
                        class="w3-bar-item w3-button"> Launch Event! </a>
                </div>
            </div>
            <% if(loggedIn){ %>
                <a href="#" onclick="logout()" class="homebtn w3-bar-item w3-button">Logout</a>
            <% } else { %>
                <a href="/login" class="w3-bar-item w3-button">Sign in</a>
            <% } %>
        </div>
    </div>


    <div class="container demo">
        <div class="content">

            <div id="large-header" class="large-header">
                <div class="w3-center loader">
                    <img
                        src="https://codemyui.com/wp-content/uploads/2019/06/Shooting-Star-Background-in-Pure-CSS-1.gif" />
                </div>
                <canvas id="demo-canvas"></canvas>
                <h1 style="font-size: 60px" class="main-title"><span class="thin">It is the</span> Antidoot</h1>
                <br><br><br>
                <form id="lout" action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Log Out</button>
                </form>
                <h1 style="text-align: center; font-size: 22px" class="main-desc" id="stats">
                    <% if(loggedIn){ %>
                        Welcome back <%= name %>
                    <% } else { %>
                        You should really <a href="/register">make an account</a>
                    <% } %>
                </h1>
                <input value="CipX#7771" id="myInput" type="text" style="opacity:1%">
            </div>
        </div>
    </div>


    <!----------------------    OVERLAY   -------------------------->

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>

    <!------------------------------------------------>

    <script>
        function logout(){
            document.getElementById("lout").submit()
        }

        var evButton = document.getElementById("events")
        var evDiv = document.getElementById("evDiv")

        //     var stats = document.getElementById("stats")
        //   $.get("/api/bot/json", function(data, status){
        //     gData = JSON.stringify(data)
        //     console.log("DATA\n------------\n"+gData)
        //     stats.innerHTML = "Antidoot is a server with " + data.userCount+" active users, that formed a comunity with over " + data.roleCount+" roles and "+ data.channelCount + " channels."
        //     //alert("There are " + data.userCount + " users")
        //   });

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            evDiv.style.display = "none"
            evButton.innerText = "Events"
            evButton.addEventListener("click", function () {
                document.location = "/events"
            })
        };

        function copyText() {
            /* Get the text field */
            var copyText = document.getElementById("myInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }

        var logoo = document.getElementById("logoo")
        var x = 0;
        logoo.addEventListener("click", function () {
            console.log(x)
            if (x == 30) {
                return alert("Easter Egg!")
            } else { x++ }
        });
        t1 = performance.now();
        console.log("Loaded in", `${Math.round(t1 - timerStart)}` + " milliseconds");
    </script>

    <!------------------------------------------------>

</body>

</html>